*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
}

body{

    background-color: #EADBC8;

}

section{
    background-color: #F8F0E5;
    margin-bottom: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    margin: auto;
    align-items: center;
    background-color: #F8F0E5;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.leftside{
    display: flex;
    align-items: center;

    
}
.leftside h1{
    font-size: 50px;
}

.leftside img{
    width: 59px;
    height: 52px;
    margin-right: 10px;
}

li{
    list-style: none;
    margin-left: 20px;
    font-size: 30px;
    
}

li:hover{
    transform: scale(1.1);
    cursor: pointer;
}
span li{
    background-color: #0F2C59;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.books{
  margin-top: 100px;
display: flex;
flex-direction: column;
width: 65%;
margin: auto;
}

.card-body button{
    margin-left: 80%;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color :white;
    background-color:#0F2C59;
   width: 100px;
   height: 30px;
}

ul a {
    text-decoration: none;
    color: inherit;
}

a h1{
    text-decoration: none;
    color: inherit;
}